.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
		gap: 2em;
		position: relative;
		@include adaptiveValue("padding-bottom", 40, 20);
		@include adaptiveValue("gap", 48, 5, 3, 991, 320);
		
	}
	// .tabs__title
	&__title {
		padding: toRem(10) toRem(15);
		border-radius: 2em;
		font-size: toRem(22);
		font-weight: 600;
	//	text-transform: uppercase;
		line-height: 130%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.4s cubic-bezier(0.5, 0, .25, 1);
		border: 1px solid #00000052;
		@include adaptiveValue("font-size", 22, 13, 3, 767, 320);
		@media (max-width: toEm(540)){
			border-radius: 1em; 
		}
		@media (max-width:$mobileSmall){
			 padding: 0; 
		}
		@media (any-hover: hover){
			&:hover{
				border-color: #c241e938;
			}
		}
		&::before{
			content:'';
			display: block;
			padding-top: 100%;
		}
		&._tab-active {
			border-radius: 50%;
			backdrop-filter: saturate(180%) blur(20px);
    		-webkit-backdrop-filter: saturate(180%) blur(20px);
			border: 1px solid #00000000;
			background-color: #c241e938;
			color: $textColor;
		}
	}
	// .tabs__content
	&__content {
		border: 1px solid #eee;
		padding: toRem(10) 0;
	}
	// .tabs__body
	&__body {
        border-top: 1px solid #00000028;
		line-height: 140%;
        font-weight: 300;
		text-align: justify;
	//* анимация при display: block;
	//	transition: opacity 400ms, display 400ms allow-discrete;

	//	transition: transform var(--animation-bounce-smooth) 0s, opacity var(--animation-smooth) 0s allow-discrete;
		opacity: 1;
		transform: translateY(0em) rotate(0.001deg);
		will-change: transform, opacity, display;
	//	transition: 0.4s cubic-bezier(0.5, 0, .25, 1) allow-directe;
		@include adaptiveValue("font-size", 22, 16 );
		@include adaptiveValue("padding-top", 40, 20);
		&[hidden] {
			display: none;
			// @starting-style {
			// //	transition: transform var(--animation-bounce-smooth) 0.2s, opacity var(--animation-smooth) 0s allow-discrete;
			// 	transform: translateY(2em) rotate(0.001deg);
			// 	opacity: 0;
			// }
			
		}
	}
	
	
}
