.greeting {
    padding-top: 5em;
    position: relative;
    z-index: 2;
    &::before{
        content:'';
        position: absolute;
        top: toRem(-2);
        left: -5%;
        width: 120%;
        height: 12em;
        z-index: 0;
        pointer-events: none;
        transform-origin: left top;
        pointer-events: none;
        background-color: $bgColor;
    }

    // .greeting__container

    &__container {
        display: grid;
        justify-items: center;
        padding-top: 2.5em;
        @include adaptiveValue("padding-left", 40, 10, 3, 481, 320);
        @include adaptiveValue("padding-right", 40, 10, 3, 481, 320);
    }

    // .greeting__title

    &__title {
        position: relative;
        color: $textColor;
        text-align: center;
        top: -1em;
        z-index: 2;
        text-wrap: balance;
        font-weight: 300;
        line-height: 130%;
        @include adaptiveValue("font-size", 42, 22);
        @media (max-width:$mobileSmall){
             line-height: 150%; 
        }
        .span-line {
            position: relative;
            display: inline-flex;
            overflow: hidden;
        }
        .span-line-inner {
            position: relative;
            display: block;
        }
    }

    // .greeting__subtitle

    &__subtitle {
        color: #fffef8;
        font-size: 0.75rem;
        opacity: 0.6;
    }

    
}

