.second-block {
    padding-top: 5em;
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-top", 150, 60);
    
    &__line {
        border-bottom: 1px solid #fffef833;
        margin: 0 auto;
        width: 93%;
        
    }
    // .second-block__container

    &__container {
        display: block;
        padding: 2.5em;
        @include adaptiveValue("padding-left", 40, 10, 3, 481, 320);
        @include adaptiveValue("padding-right", 40, 10, 3, 481, 320);
    }

    // .second-block__title

   
    // .second-block__body

    &__body {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 4.5em;
        @include adaptiveValue("padding-bottom", 80, 0, 2, 991, 320);
    }

    // .second-block__text

   

    // .second-block__video

    &__video {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        aspect-ratio: 16 / 9;
        &::before{
            content:'';
            display: block;
            padding-top: 120%;
           height: 70vh;
        }
       
    }
    &__video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      //  border-radius: 2em;
        
    }

    &__video-main {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2em;
        object-fit: cover;
        overflow: hidden;
        @media (max-width:$mobile){
            border-radius: 1em; 
        }
    }
}


