.second-block {
    padding-top: 5em;
    position: relative;
    z-index: 2;
    
    &::before{
        content:'';
        position: absolute;
        top: toRem(-0);
        left: -5%;
        width: 120%;
        height: 12em;
        z-index: 1;
        pointer-events: none;
        transform: translateY(0%) rotate(-4deg);
        transform-origin: left top;
        pointer-events: none;
		//background-image: url("@img/texture-dark.jpg");
        background-color: $bgColor;
		// background-position: center center;
		// background-repeat: no-repeat;
		// background-size: cover;
		//opacity: 0.75;

    }
    &__line {
        border-bottom: 1px solid #fffef833;
        margin: 0 auto;
        width: 93%;
        
    }
    // .second-block__container

    &__container {
        display: grid;
        justify-items: end;
        padding: 2.5em;
        @include adaptiveValue("padding-left", 40, 10, 3, 481, 320);
        @include adaptiveValue("padding-right", 40, 10, 3, 481, 320);
    }

    // .second-block__title

    &__title { 
        position: relative;
        color: $textColor;
        text-align: right;
        float: right;
        top: -2.5em;
        z-index: 2;
    }

    // .second-block__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 4.5em;
        @include adaptiveValue("padding-bottom", 80, 0, 2, 991, 320);
    }

    // .second-block__text

    &__text {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $textColor;
        line-height: 150%;
        max-width: 80%;
        opacity: 0.6;
        font-weight: 300;
        text-align: center;
        @include adaptiveValue("font-size", 20, 16, 2, 767, 320);
        @media (max-width:$mobileSmall){
            max-width: 100%; 
        }
    }

    // .second-block__video

    &__video {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        aspect-ratio: 16 / 9;
        &::before{
            content:'';
            display: block;
           // padding-top: 120%
           height: 70vh;
        }
       
    }
    &__video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 2em;
        
    }

    &__video-main {
       // 
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2em;
        object-fit: cover;
        overflow: hidden;
    }
}


