.supplement {
    background-color: $bgColor;
    position: relative;
    z-index: 2;
    &__container {
        padding: 5em 2.5em;
        display: grid;
        @include adaptiveValue("gap", 80, 40);
        @include adaptiveValue("padding-left", 40, 10, 3, 481, 320);
        @include adaptiveValue("padding-right", 40, 10, 3, 481, 320);
        @include adaptiveValue("padding-top", 80, 30, 3, 481, 320);
        @include adaptiveValue("padding-bottom", 120, 20, 2, 481, 320);
        
        
    }

    // .supplement__title

    &__title {
        color: $textColor;
        margin-bottom: toRem(40);
    }

    // .supplement__body

    &__body {
    }
}

.body-supplement {
    width: 100%;
    display: grid;
    @include adaptiveValue("gap", 100, 40);
    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        @include adaptiveValue("gap", 100, 40);
        @media (max-width:$mobile){
            grid-template-columns: 1fr; 
            &:nth-child(2){
                display: flex;
                flex-direction: column-reverse;
            }
        }
        
    }

    // .body-supplement__body

    &__body {
        position: relative; 
    }

    // .body-supplement__wrapper-image

    &__wrapper-image {
        position: relative;
        border-radius: 1em;
        overflow: hidden;
        aspect-ratio: 580/580;
        transition: 0.4s cubic-bezier(0.5, 0, .25, 1);
        &::before{
            content: "";
            display: block;
            padding-top: 100%;
        }
        &.hover {
            border-radius: 50%;
        }
        &.no-hover {
            opacity: 0.15;
            filter: grayscale(1) contrast(1);
            transform: scale(0.9) rotate(0.001deg);
        }
    }

    // .body-supplement__image

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2em;
        img {
            height: 130%;
            margin-top: -2.5em;
            @media (max-width: 350px){
                margin-top: 2em; 
            }
        }
        &:last-child(3) {
            img {
              //  margin-top: 0;
            }
            
        }
    }    
    
    &__image:first-of-type {
        top: toRem(-55);
        @media (max-width: 1250px){
            top: toRem(-15); 
        }
        @media (max-width:$mobileSmall){
            top: toRem(-55);
        }
    }

    // .body-supplement__descr 

    &__descr {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fffef8;
        line-height: 150%;
        opacity: 0.6;
        font-weight: 300;
        transition: 0.4s cubic-bezier(0.5, 0, .25, 1);
        @include adaptiveValue("font-size", 22, 16 );
        &.accent {
            opacity: 1;
            .gradient-circle {
                opacity: 1;
            }
        }
        &.no-hover {
            opacity: 0.15;
            filter: grayscale(1) contrast(1);
            transform: scale(0.9) rotate(0.001deg);
        }
        .gradient-circle {
            height: 100%;
            width: 100%;
            z-index: -1;
        }
    }
    &__descr-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 90%;
        width: 90%;
        padding: 1em 2em;
        @media (max-width:$mobile){
             padding: 0; 
        }
    }
}

