.testimonial-slider {

    // .testimonial-slider__container

    &__container {
        max-width: 100%;
        padding: 5em 2.5em;
        @include adaptiveValue("padding-left", 40, 10, 3, 767, 481);
        @include adaptiveValue("padding-right", 40, 10, 3, 767, 481);
        @include adaptiveValue("padding-top", 60, 20, 3, 767, 320);
        @include adaptiveValue("padding-bottom", 120, 40, 2, 767, 320);
    }

    // .testimonial-slider__wrapper-slider

    &__wrapper-slider {
      width: 100vw;
    }
}

.flickity-carousel {
    width: 100%;
    height: 100%;
    min-width: 0;
    display: block;
    --gap: var(--gap-padding);
}

.flickity-slider {
    height: 100%;
    //display: flex;
  //  justify-content: center;
}




.flickity-slide {
    width: calc((99.999% / var(--columns)) - (var(--gap) * ((var(--columns) - 1) / var(--columns))));
    margin-right: calc(var(--gap) / 1.45);
    flex-shrink: 0;
  
		// .flickity-slide__item
    &__item {
        position: relative;
        overflow: hidden;
        border: 1px solid rgba(238, 238, 238, 0.151);
        border-radius: var(--border-radius);
        background-color: var(--color-text);
        width: 100%;
    }
    &__item-wrapper {
        position: relative;
        display: block;
        height: 100%;
    }
    		
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    will-change: transform;
    transform: scale(0.98) rotate(0.001deg);
    transition: transform var(--animation-smooth) -0.1s;
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
} 
/* Drag effect */


 
 @media screen and (max-width: 1200px) {
    .testimonial-slider .single-flickity-slider .flickity-carousel {
       --columns: 3.5;
    }
 }
 
 @media screen and (max-width: 1024px) {
    .testimonial-slider .single-flickity-slider .flickity-carousel {
       --columns: 3.1;
    }
 
    .testimonial-slider .btn-row {
       display: block;
    }
 }
 
 @media screen and (max-width: 800px) {
    .testimonial-slider .single-flickity-slider .flickity-carousel {
       --columns: 2.15;
    }
 }
 
 @media screen and (max-width: 540px) {
 
    .testimonial-slider .single-flickity-slider .flickity-carousel {
       --columns: 1.75;
    }
 }



/* ------------------------- Slider Row - 3 Col -------------------------------------------------- */

.single-flickity-slider .flickity-carousel {
    display: flex;
    width: 100%;
    position: relative;
    --gap: var(--gap-padding);
    --columns: 4.25;
 }
 
.single-flickity-slider .flickity-carousel .flickity-slide {
  //  width: calc((99.999% / var(--columns)) - (var(--gap) * ((var(--columns) - 1) / var(--columns))));
   // margin-right: var(--gap);
    flex-shrink: 0;
 }
 
 .single-flickity-slider .flickity-carousel .flickity-slide:last-child {
   // margin-right: 0;
 }
 
 .single-flickity-slider .flickity-carousel .flickity-viewport {
    overflow: visible;
    transition: height 0.2s;
    will-change: transform;
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
    
 }
 
 /* Turn Flickity ON */
 .single-flickity-slider .flickity-carousel::after {
    content: "flickity";
    display: none;
 }
 
 /* Remove Flex from .row for Flickity */
 .single-flickity-slider .flickity-carousel {
    display: block;
}
.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
/* draggable */




